*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lalezar';
    color: #8FE3CF;
    background-color:#256D85;
    font-size: 1rem;
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}
a{
    all:unset;
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
img{
    height: 300px;
    width: 250px;
}
.main-container{
    margin-top: 2%;
    width: 80%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#navbar{
    background-color: #002B5B;
    height: 10%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:2% 5% 2% 5%;
    width: 100%;
    position: sticky;
    top: 0;
}

#navbar > ul{
    display: flex;
    list-style: none;
    gap:10%;
    justify-content: center;
    align-content: center;
    font-size: 150%;
}
#hero{
    background-color: #2B4865;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.hero-container{
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.social-media{
    display: flex;
    justify-content: center;
    font-size: 200%;
    gap: 35%;
}

#about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:90%;
}
.desc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    gap:15%;
    width: 90%;
    font-size: 1.5rem;
    font-weight: 100;
}

#works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;

}


.works-container {
    max-width: 70%;
    position: relative;
    margin: auto;
    height: 50%;
  }
  
  .myWorks {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 150%;
    padding: 8px 12px;
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 20%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  #Experiences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;

}

.myExp {
    display: none;
  }
  
  .experience-container {
    max-width: 70%;
    max-height: 80%;
    position: relative;
    margin: auto;
    height: 70%;
  }
  .Etext {
    color: midnightblue;
    background-color: gray;
    font-size: 80%;
    padding: 6px 10px;
    position: absolute;
    bottom: -5%;
    width: 100%;
    text-align: center;
  }

  
  .edot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 20%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .edot:hover {
    background-color: #717171;
  }

  #Skills{
  
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    margin-bottom: 5%;
}

#Skills > img{
    height: 30%;
    width: 30%;
}
#contact{
    background-color: #002B5B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    gap: 2%;
    width: 100%;
    height: 20%;
}

#contact > h1{
    margin-top: 2%;
    font-size: 200%;

}

#contact > hr{
width: 50%;
margin-bottom: 2%;
}



@media screen and (max-width:600px){
    body{
        font-size: 50%;
    }
    h1{
        font-size: 400%;
    }
    h2{
        font-size: 250%;
    }
    h3{
        font-size: 100%;
    }
    p{
        font-size: 42%;
    }
    img{
        height: 30%;
        width: 30%;
    }
    #navbar{
        font-size: 110%;
    }
    .desc{
        font-size: 150%;
    }
    .desc > p{
        font-size: 70%;
    }

    .desc > a{
        font-size: 160%;
    }
    .dot{
        height: 8px;
        width: 8px;
    }
    .edot{
        height: 8px;
        width: 8px;
    }
    .main-container{
        flex-direction: column;
    }
    .Etext{
        font-size: 200%;
    }

    .Etext > p{
        font-size: 60%;
    }
    .text{
        font-size: 200%;
    }
}